<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDx4adtjoSgrjKSa_6cm8Jab47qZx9Q7wE</string>
	<key>GCM_SENDER_ID</key>
	<string>468678525993</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.infiWheel.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>infiwheel-a2926</string>
	<key>STORAGE_BUCKET</key>
	<string>infiwheel-a2926.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:468678525993:ios:78e0a0c594149aa598c838</string>
</dict>
</plist>